# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# VS Code
.vscode/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Allure and env
allure-results/
allure-report/
.env
